@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&display=swap");
@font-face {
  font-family: "Blambot";
  src: url("../font/blambotprobold.ttf") format("ttf");

}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #999;
  font-size: 12px;
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0 !important;
}

img {
  max-width: 100%;
}

ul {
  padding-left: 0;
  margin-bottom: 0;
}
.blue-bg-btn{
  width: 160px;
  border-radius: 6px !important;
  background-color: #0097B2;
  height: 40px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;

}
.textColor{
  color: #01381d ;
margin: 14px 0px !important;
max-width: 500px;
  /* font-family: "Blambot"; */

}
h6 {
  color: #fe4447 !important;
  margin-top: 10px !important;
}
h2{
  color: #69379d !important;
/* font-family: "Blambot" !important; */
text-transform: uppercase !important;
font-weight: 700;

}
a {
  text-decoration: none;
  color: #ff9a9c;
  transition: all 0.3s ease;
}
a:hover {
  text-decoration: none;
  color: #fe4447;
}

:focus {
  outline: none;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  /* background-image: url("../../public/bg.jpg") !important;
  background-size: cover !important; */
}

.inner {
  max-width: 850px;
  margin: auto;
  padding-bottom: 30px;
  border-radius: 10px !important;
  background: #fff;
  display: flex;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.image-holder {
  width: 50%;
  padding-right: 15px;
}
.image-holder img {
  width: 500px;
  /* opacity: 0.7; */
}
form {
  width: 50%;
  padding-top: 77px;
  padding-right: 60px;
  padding-left: 15px;
}

h3 {
  font-size: 35px;

  font-family: "El Messiri", sans-serif !important;

  text-align: center;
  margin-bottom: 27px;
  color: #ff9a9c !important;
}

h1 {
  font-size: 65px;

  font-family: "El Messiri", sans-serif !important;
  font-weight: 700;
  text-align: center;
  margin-bottom: 27px;
  color: #ff9a9c !important;
}

.form-holder {
  padding-left: 24px;
  position: relative;
}
.form-holder:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #ff9a9c;
  position: absolute;
  left: 1px;
  top: 50%;
  transform: translateY(-50%);
}
.form-holder.active:before {
  border: 2px solid transparent;
  background: #ff9a9c;
}

.form-control {
  display: block;
  width: 100%;
  border-radius: 23.5px;
  height: 47px;
  padding: 0 24px;
  color: #808080;
  font-size: 13px;
  border: none;
  background: #f7f7f7;
  margin-bottom: 25px;
}
.form-control::-webkit-input-placeholder {
  font-size: 13px;
  color: #808080;
  text-transform: uppercase;

  font-family: "Montserrat", sans-serif;
}
.form-control::-moz-placeholder {
  font-size: 13px;
  color: #808080;
  text-transform: uppercase;

  font-family: "Montserrat", sans-serif;
}
.form-control:-ms-input-placeholder {
  font-size: 13px;
  color: #808080;
  text-transform: uppercase;

  font-family: "Montserrat", sans-serif;
}
.form-control:-moz-placeholder {
  font-size: 13px;
  color: #808080;
  text-transform: uppercase;

  font-family: "Montserrat", sans-serif;
}

@-webkit-keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
button {
  letter-spacing: 2px;
  border: none;
  width: 133px;
  height: 47px;
  margin-right: 19px;
  border-radius: 100px !important;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: #ff9a9c;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;

  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
button:hover {
  -webkit-animation-name: hvr-wobble-horizontal;
  animation-name: hvr-wobble-horizontal;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.checkbox {
  position: relative;
  padding-left: 19px;
  margin-bottom: 37px;
  margin-left: 26px;
}
.checkbox label {
  cursor: pointer;
  color: #999;
}
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkbox input:checked ~ .checkmark:after {
  display: block;
}

.checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid #e7e7e7;
}
.checkmark:after {
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #ff9a9c;
  position: absolute;
  display: none;
}

.form-login {
  display: flex;
  align-items: center;
  margin-left: 23px;
  gap: 10px;
}
.form-login a {
  color: #ff9a9c;
}

@media (max-width: 767px) {
  .inner {
    display: block;
  }
  .headerBox{
    padding: 0px 0px !important;
  }
  .formbold-form-wrapper {
    flex-wrap: wrap;
    padding: 10px !important ;
  }
  .formbold-main-wrapper {
    padding: 0px 18px 18px 18px !important;
  }
  .image-holder {
    width: 100%;
    padding-right: 0;
  }

  form {
    width: 100%;
    padding: 0px 15px 70px;
  }

  /* .wrapper {
    background: none;
  } */
}

.p1 {
  font-size: 14px;

  color: #808080;
}

.headerlogo {
  width: 90px;
}
.formbold-main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 48px 28px 48px;
  border-radius: 10px;
}

.formbold-form-wrapper {
  margin: 0 auto;
  justify-content: center;
  border-radius: 10px;

  max-width: 1000px;
  width: 100%;
  background: white;
  padding: 40px 40px 40px 40px;
  display: flex;
  gap: 20px;
}

.formbold-img {
  display: block;
  margin: 0 auto 40px;
}

.formbold-form-input {
  width: 100%;
  padding: 13px 22px;
  border-radius: 5px;
  border: 1px solid #dde3ec;
  border-radius: 10px !important;
  background: #ffffff;
  font-weight: 500;
  font-size: 16px;
  color: #536387;
  outline: none;
  resize: none;
}
.formbold-form-input:focus {
  border-color: #6a64f1;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}
.formbold-form-label {
  color: #07074d;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  display: block;
  margin-bottom: 20px;
}
.formbold-form-label span {
  color: #536387;
  font-size: 12px;
  line-height: 18px;
  display: inline-block;
}

.formbold-mb-3 {
  margin-bottom: 15px;
}
.formbold-mb-6 {
  margin-bottom: 30px;
}
.formbold-radio-flex {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.formbold-radio-label {
  font-size: 14px;
  line-height: 24px;
  color: #07074d;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.formbold-input-radio {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.formbold-radio-checkmark {
  position: absolute;
  top: -1px;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #ffffff;
  border: 1px solid #dde3ec;
  border-radius: 50%;
}
.formbold-radio-label
  .formbold-input-radio:checked
  ~ .formbold-radio-checkmark {
  background-color: #ff9a9c;
}
.formbold-radio-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.formbold-radio-label
  .formbold-input-radio:checked
  ~ .formbold-radio-checkmark:after {
  display: block;
}

.formbold-radio-label .formbold-radio-checkmark:after {
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.formbold-btn {
  text-align: center;
  width: 100%;
  font-size: 16px;
  border-radius: 5px;
  padding: 14px 25px;
  border: none;
  font-weight: 500;
  background-color: #6a64f1;
  color: white;
  cursor: pointer;
  margin-top: 25px;
}
.formbold-btn:hover {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}
.btn {
  background-color: #ff9a9c !important;
  color: #e7e7e7 !important;
}
.stickyBox {
  position: sticky;
  top: 20px;
}
@media (max-width: 767px) {
  .stickyBox {
    position: static;
    top: 20px;
  }
}
.homeBox{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 30px 0px;
  /* background-image: url(../images/bg.jpg); */
}